@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 228, 228);
    font-family: "Bricolage Grotesque";
}

.header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: black;
    padding: 20px;
}

.logo-wrapper {
    height: 90px;
    object-fit: contain;
}

.logo {
    height: inherit;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 6vh;
    transition: 0.167s ease-in;
    transform: none;

    &.nav-item:hover {
        color: yellow;
        transform: scale(1.067);
    }
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    margin: 2.5vh auto;
    background-color: red;
}

.search-bar {
    width: 100%;
    height: 7vh;
    font-size: 2rem;
    padding: 10px;
    border: none;
    outline: none;
}

.search-button {
    font-size: 2rem;
    height: 7vh;
    border: none;
    padding: 0 20px;
    color: white;
    background-color: black;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgb(61, 67, 69);
}

.current-weather {
    width: 50%;
    height: 28%;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 2.5vh auto;
    gap: 20px;
    background-color: rgb(239, 239, 239);
}

.current-weather-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;

    & h1 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 100;
        color: gray;
    }

}